################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvcApplication/config
/.vs/MvcApplication/FileContentIndex
/.vs/MvcApplication/v17
